<h2><%= params[:bulletin_id] %></h2>

<table class='table'>
<tr>
  <th>Title</th>
  <td><%= @post.title %></td>
</tr>
<tr>
  <th>Created at</th>
  <td><%= @post.created_at %></td>
</tr>
<tr>
  <th colspan="2">Content</th>
</tr>
<tr>
  <td colspan="2"><%= @post.content %></td>
</tr>
<% if @post.bulletin.post_type == "gallery" %>
<tr>
	<th>Picture</th>
    <td class='picture'><%= image_tag(@post.picture_url) if @post.picture? %></td>
</tr>
<% end %>

</table>


<%= link_to 'Edit', edit_bulletin_post_path(@bulletin, @post), class: 'btn btn-default' %>
<%= link_to 'Back', bulletin_posts_path, class: 'btn btn-default' %>
<%= link_to 'Destroy', [@bulletin, @post], method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default' %>

<%= render "comments/comments" %>